body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #d92027;
    color: #fff;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2em;
    margin-bottom: 0;
}

p {
    margin-top: 0.5em;
}

main {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
}

button {
    padding: 10px;
    background-color: #d92027;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #b8131b;
}

#nutrition-data {
    font-family: Arial, sans-serif;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
    border-radius: 5px;
}

#nutrition-data h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#nutrition-data ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nutrition-data li {
    margin-bottom: 8px;
}

#nutrition-data li strong {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}

#nutrition-data li span {
    font-weight: normal;
    color: #555;
}

#nutrition-data p {
    margin: 0;
}
